
body,html{
    padding: 20px;
    margin: 5px;

}


.conteudo{
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    display:flex;
    flex-direction: row;
    background-color: rgb(173, 226, 217);
}


.card{
    width: 200px;
    height: 200px;
    background-color: rgb(198, 166, 235);
    
}


